body {
  margin: 0;
  background: #fff;
  color: #2c2c54;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}
