body {
  margin: 0;
  background: #fff;
  color: #2c2c54;
  font-size: 16px;
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

header {
  background-image: url(https://i.postimg.cc/RhVRrgZk/pexels-wendel-moretti-10402422.jpg);
  height: 95vh;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  color: #fff;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
h1 {
  color: #fff;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto 10px auto;
}
.btn {
  display: inline-block;
  min-width: 160px;
  margin: 30px auto 0 auto;
  padding: 10px;
  border-radius: none;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: solid #ff764e 2px;
  background-color: #ff764e;
  background-position: 100% 0;
  background-size: 300%;
  color: #fff;
}
.btn:hover {
  background: none;
  border: solid #ff764e 2px;
  transition: all 1.3s;
}
nav {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

nav div {
  margin-left: 10px;
}

.navigation-section a {
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: #df491b;
  transition: all 1.3s;
}

.splash-inner {
  text-align: center;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  margin: 30px auto;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}
.title {
  color: #df491b;
  font-size: 35px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

ul {
  padding: 0 20px 0px 20px;
}

.info li {
  flex: 0 0 33.333%;
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.element-title {
  color: #000;
  font-size: 34px;
  font-family: Andale Mono, monospace;
}

.element-content {
  padding: 0 30px;
  color: darkgray;
}

.info-element i {
  color: #ff764e;
  border: solid 2px #ff764e;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 30px;
}

.section-title {
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 60px 0 0 0;
  padding: 0 auto;
}
.section-subtitle {
  text-align: center;
  font-style: italic;
  font-size: 32px;
}

.our-portfolio {
  background-color: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 100px;
}

.card {
  align-items: center;
  border: none;
}

.card .card-title {
  font-weight: 600;
}

.card .card-text {
  display: flex;
  justify-content: center;
  font-style: oblique;
  letter-spacing: 3px;
}

.portfolio {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.card-title {
  text-align: center;
}

p {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.card img {
  max-width: 300px;
  max-height: 600px;
}
